@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@theme{

  --color-primary:#14b8a6;
  --color-secondary:#D946EF;
  --color-textP:#FFFFFF;
  --color-textM:#E7E7E7;
  --color-primary-light:#f5d0fe;
  --color-primary-dark:#A21CAF;
  --color-hoverLight:#e995f6;
  --font-fancy:"Poppins", sans-serif;
}

::-webkit-scrollbar{
  scroll-behavior:smooth;
}


